<div class="container">
  <div class="row steps mb-5">
    <div class="inner">
      <ul><li class="first legend-element" data-filter="class">{{ 'Create membership'|t }}</li>
        <li class="active legend-element" data-filter="data">{{ 'Personal information'|t }}</li>
        <li class="last legend-element" data-filter="data">{{ 'Payment'|t }}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="title">
        <span>{{ 'Personal information'|t }}</span><h1>{{ form.header }}</h1>
      </div>
    </div>
  </div>
  <div class="form-row ">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-row">
        <div class="col-md-6">
          {{ form.firstname }}
        </div>
        <div class="col-md-6">
          {{ form.lastname }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6">
          {{ form.mobile }}
        </div>
        <div class="col-md-6">
          {{ form.birthdate }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          {{ form.street }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-2">
          {{ form.zipcode }}
        </div>
        <div class="col-md-10">
          {{ form.city }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          {{ form.contact_consent }}
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-12">
          {{ form.newsletter }}
        </div>
      </div>
      {{ form|without('header', 'summaryprice', 'firstname', 'lastname', 'mobile', 'birthdate', 'street', 'zipcode', 'city', 'newsletter', 'contact_consent') }}
    </div>
    <div class="col-md-4  order-first order-md-2">
      {{ form.summaryprice }}
    </div>
  </div>
</div>
