<article{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <section class="container">
    <div class="row">
      <div class="col">
        <div class="hero hero--left dcu-bg-white-green">
            <div class="p-0 pb-md-5">
              {{ content.field_media_image }}
            </div>
          <div class="hero__content">
            <h3 class="hero__super-heading">{{ content.field_trumpet }}</h3>
            <h1 class="hero__heading">{{ label }}</h1>

            <div class="hero__ratings-wrapper">
              {% for i in 1..content.field_number_of_stars[0]['#markup'] %}
                <img style="fill: red !important" class="hero__rating-star"
                     src="/themes/custom/dcu/assets/icons/rating-star-white.svg">
              {% endfor %}
            </div>
            {{ content.field_address }}
            {{ content.field_phone }}
            {{ content.field_email }}
            {{ content.field_www }}
            <div class="heart-red">{{ content.flag_favorite }}</div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="container" >
    <div class="row ">
      <div class="col-md-6">
        {{ content.field_geo_location }}
      </div>
      <div class="col-md-6 mt-3 mt-md-0">
        <div class="txt-label mb-3">
          {{ content.field_season_period }}
        </div>
        <div class="txt-label">
          {{ content.field_office_hours }}
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mb-3 mb-md-0">
        {{ content.field_description }}
        {{ drupal_block('google_place_review') }}
      </div>
    </div>
  </section>

  {#http://ashleydw.github.io/lightbox/#single-image#}
  {% if content.field_gallery|render is not empty %}
    {% if content.field_gallery|field_value|length > 1 %}
      <div class="container gallery">
        <div class="row my-0 my-md-5">

          {% set i = 0 %}
          {% for image in node.field_gallery  %}
            {#            {% if image.entity.bundle.value.0['target_id'] == 'remote_video' %}#}
            {#              {{ content.field_media_oembed_video.0 }}#}
            {#              {{ kint(image.entity) }}#}
            {#            {% endif %}#}
            {#{{ image.entity.name.value }}#}
            {#{{ kint(image.entity.bundle.value.0['target_id']) }}#}
            {#{{ kint(image|file_uri) }}#}
            {#            {% if image.entity.bundle.value.0['target_id'] == 'image' %}#}
            {#              {% if loop.index0 < 3 %}#}
            {% if i < 12 %}
              {% if image.entity.bundle.value.0['target_id'] == 'image' %}
                {% set image_uri = image|file_uri %}
                {% if image_uri is not null %}
                  <a href="{{ image_uri|image_style('16_9_large') }}" data-toggle="lightbox" data-gallery="hidden-images" class="col-md-2">
                    <img src="{{ image_uri|image_style('16_9_medium') }}" class="img-fluid rounded">
                  </a>
                {% endif %}
                {% set i = i + 1 %}
              {% endif %}
              {#{% if image.entity.bundle.value.0['target_id'] == 'remote_video' %}#}
              {#<a href="{{ image|file_uri }}&rel=0" data-toggle="lightbox" data-gallery="hidden-images" class="col-md-4">#}
              {#<img src="/sites/default/files/styles/hero_image/public/2021-01/velkommen_54433481.jpeg" class="img-fluid rounded" data-title="{{ image.entity.name.value }}">#}
              {#                <img src="/sites/default/files/styles/thumbnail/public/oembed_thumbnails/AJvpHklj2B2dc7xUWxmm8wg6VkE-XlOQcf0sDE1mA2Q.jpg?itok=cxIiTMLA" width="100" height="75" alt="" typeof="foaf:Image" class="image-style-thumbnail">#}
              {#</a>#}
              {#{% endif %}#}
              {#              {% endif %}#}
            {% else %}
              {% if image.entity.bundle.value.0['target_id'] == 'image' %}
                {% set image_uri = image|file_uri %}
                {% if image_uri is not null %}
                  <div data-toggle="lightbox" data-gallery="hidden-images" data-remote="{{ image_uri|image_style('16_9_large') }}"></div>
                {% endif %}
              {% endif %}
              {#{% if image.entity.bundle.value.0['target_id'] == 'remote_video' %}#}
              {#<div data-toggle="lightbox" data-gallery="hidden-images" data-remote="{{ image|file_uri }}&rel=0"></div>#}
              {#{% endif %}#}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endif %}
  {{ content.field_facilities }}
  {{ content.field_content }}
</article>
