{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% if paragraph.field_image is not empty %}
  {% block paragraph %}
    <section class="container p-0 p-sm-2">
      <div class="cta row no-gutters">
        {% block content %}
          <div class="col-12 col-lg-7">
            {{ content.field_image }}
          </div>
          <div class="col-12 col-lg-5">
            <div{{ attributes }} class="cta__content-wrapper">
              <h2 class="cta__heading">{{ content.field_header }}</h2>
              <p class="cta__text">{{ content.field_body }}</p>
              {% if paragraph.field_cta_button is not empty %}
                <a href="{{ content.field_cta_button[0]['#url'] }}" class="btn btn-primary no-underline">{{ content.field_cta_button[0]['#title']|render }}</a>
              {% endif %}
            </div>
          </div>
        {% endblock %}
      </div>
    </section>
  {% endblock paragraph %}
{% endif %}

